body
{
	font-family: Cambria;
	background-color: #deaf83;
	color: #411c0f;

	border-color: #411c0f;
}
a
{
	color: #911818;
}

.tableOfContents {
    border: none;
    padding: 5px;
	text-align: center;
	text-align-last: justify;
	display: inline-block;
	font-size: 150%;
}

.contents
{
	font-size: 120%;
	column-count: 3;
	column-gap: 40px;
	margin-right: 15%;
	margin-left: 15%;
}

.divider
{
    border: none;
    border-bottom: 1px solid;
    margin-top: 10px;
    margin-bottom: 10px;
}
.wholeDream
{
	font-size: 120%;
	/*
	margin-left: 20%;
	margin-right: 20%;
	*/
	margin: auto;
	max-width: 700px;
}
.dreamHeader
{
	margin-left: 0%;
}
#dreamDate
{
	text-decoration: underline;
}

.dreamBody
{
	text-indent: 3em;
	text-align: justify;
	margin-right: 10%;
	margin-left: 10%;
}
#previous
{
	text-align: left;
	float:left;
	margin-left: 10%;
}
#next
{
	text-align: right;
	float: right;
	margin-right: 10%;
}
#dreamEnd
{
	text-align: right;
	margin-right: 10%;
}
.dreamLinks
{
	text-align: center;
	margin-left:0%;
}
.dreamTags
{
	text-align: left;
	margin-left: inherit;
	margin-right: inherit;
}
.dreamTagButton
{
	border: 2px solid maroon;
	background-color: maroon;
	color: wheat;
}
.dreamTagPanel
{
	display: none;
}