body {
    background-color: darkslateblue;
    color: lightsalmon;

    border-color: lightsalmon;
}
::-webkit-scrollbar{
    background: lightsalmon;
}
::-webkit-scrollbar-thumb{
    border: 1px solid lightsalmon;
    background:darkslateblue;
}
::-webkit-scrollbar-button{
    border: 1px solid lightsalmon;
    background:darkslateblue;
}

.divider {
    border: none;
    border-bottom: 1px solid;
    margin-top: 10px;
    margin-bottom: 10px;
}

.menu {
    text-align: center;
}

.menu a {
    border: 1px solid;
    padding: 2px;
    margin: 5px;
    color: inherit;
    text-align: inherit;
    text-decoration: none;
}
.menu a:hover {
    background-color: lightsalmon;
    color: darkslateblue;
    border-color: lightsalmon;
}

.scrollArea {
    height: 75vh;
    overflow: scroll;

    -ms-overlow-style: none; /*IE, Edge*/
    scrollbar-width: none; /*FFox*/
}
/*Chrome, safari, opera*/
.scrollArea::-webkit-scrollbar {
    display:none;
}

.contentBox {
    border: 1px solid;
    padding: 5px;
    margin-bottom: 5px;

    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}

.picGallery {
    overflow: auto;
    white-space: nowrap;
}
.picGallery img {
    display: inline;
    border-radius: 5%;
    max-height: 400px;
    min-height: 400px;
}

.inline_a {
    text-decoration: none;
    color: inherit;
    border: 1px solid;
}

.inline_a:hover {
    background-color: lightsalmon;
    color: darkslateblue;
    border-color: lightsalmon;
}

.copyright {
    
    text-align: right;
    vertical-align: bottom;
}